body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./chess2.jpg'); 
    z-index: -1;
    background-size: contain;
        
}

#p-tags {
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    position: fixed;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#p-tags p#info-display {
    font-style: italic;
    
}

#player {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    
}

#gameboard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 12px 12px 40px 40px rgb(229, 241, 241);
    align-items: baseline;
}


.square {
    height: 40px;
    width: 40px;
    position: relative;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: #d29c4a;
    
}

.brown {
    background: rgb(66, 31, 15);
    
}

.black {
    fill: rgb(0, 0, 0)
}

.white {
    fill: rgb(242, 246, 248)
}
